body {
    background-color: black;
    color: white;
}

#color-box {
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: 10px auto;
    cursor: pointer;
}
#hex-code {
    text-align: center;
    font-family: monospace;
    color: white;
}